* {
    font-family: Georgia;
}

body {
    background-color: rgb(99,106,146);
    position:relative;
    text-align:center;
}

body h1 {
    font-family: Lato;
    color:rgb(218,227,242);
    font-size:3em;
    margin-top:24px;
}

.domino h2 {
    font-size: 13pt;
    line-height:4em;
    font-weight:500;
    color: rgb(53,52,50);
}

.domino > div {
    font-family: 'Courier New';
    line-height:1em;
    display: inline-block;
    margin:0 auto;
}

.domino {
    background-color: rgb(252,249,234);
    border-radius: 12px;
    border: 2px rgb(179, 171, 155) solid;
    border-bottom: rgb(179, 171, 155) 12px solid;
    height:160px;
    width:258px;
    position:absolute;
    text-align: center;
    margin:8px;
    display:inline-block;
}

.container {
    position: relative;
    margin:0 auto;
/*    left:50%;
    transform:translateX(-35%);*/
}